<style>

.fix-navbar {
  display: inline-flex !important;
  align-items: center;
  font-weight: bold;
  text-decoration: none; 
  pointer-events: auto !important;
  cursor: pointer !important;
  
}


.navbar-brand {

  display: inline-flex !important;
  align-items: center;
  font-weight: bold;
  text-decoration: none; 
  pointer-events: auto !important;
  cursor: pointer !important;
}


.fix-navbar  img {
  margin-right: 10px;
  width: 100px;
  height: auto;
}

.fix-nav .nav-link {
  padding: 8px 15px;
  color: #19180A;
  font-family: 'Figtree', sans-serif;
}

.fix-nav .dropdown-item {
  color: #333;
  font-family: 'Figtree' , sans-serif ;
}

.btn {
  padding: 8px 15px;
  font-size: 13px;
  font-family: 'Figtree' , sans-serif;
}

/* Center the navbar content */
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fix-collapse {
  justify-content: center;
  flex-grow: 0;
}

.fix-nav {
  margin: 0 auto;
}

.fix-nav .nav-item {
  margin: 0 5px;
  
}
.d-flex {
  gap: 10px;
}

/* Dropdown Styling */
.dropdown-menu {
  border: none;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Rounded, Dark Blue Buttons */
.btn-rounded {
  border-radius: 20px;
  color: white !important;
  padding: 8px 20px;
  text-decoration: none;
}

.btn-dark-blue {
  background-color: #226F54;
  border-color: #226F54 !important;
  font-size:14px;
  font-family: 'Figtree' , sans-serif;
}
.btn-dark-blue2 {
  background-color: #A30000;
  border-color: #A30000 !important;
  font-family: 'Figtree' , sans-serif;
  font-size:14px;
}

.btn-dark-blue:hover { /* Hover color for book a demo button */ 
  background-color: #226F54 !important; 
  border-color: #226F54 !important; 
}

.btn-dark-blue2:hover {  /* Hover color for sign up and login buttons */ 
  background-color: #A30000 !important; 
  border-color: #A30000 !important; 
}

.btn-outline-dark-red { /*  the color of outline buttons */ 
  color: #19180A !important; 
  border-color: #FFFFF2 !important;
  border-radius: 20px;
  font-size:15px;
  border:2px solid #19180A !important; 
  font-family: 'Figtree', sans-serif;
  width:120px;
  height:40px;

}

.btn-outline-dark-red :hover { /*  the hover color of outline buttons */ 
  background-color: white;
  color: white;
  border-color: #19180A !important;
}

.btn-filled-dark-red { /*  the color of outline buttons */ 
color: white; 
background-color:#A30000 !important;
border-color: #A30000 !important;
border-radius: 20px;
font-size:15px;
font-family: 'Figtree' , sans-serif;
width:120px !important;
height:40px !important;
}

.btn-filled-dark-red:hover { /*  the hover color of outline buttons */ 
background-color: white;
color: white;
border-color: #A30000 !important;
}


.btn-filled-dark-red svg {
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
}

.btn-filled-dark-red:hover svg path {
  fill: white; /* Arrow color on hover */
}
 


.btn-outline-dark-red svg {
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
}

.btn-outline-dark-red:hover svg path {
  fill: #53131E; /* Arrow color on hover */
}






.btn-white-filled-dark-red { 
color: #19180A !important; 
# color:black;
background-color: #FFFFF2 !important;
border-color: #53131E !important;

border-radius: 20px;
font-size:15px;
font-family: 'Figtree' , sans-serif;
}

.btn-white-filled-dark-red:hover { 
background-color: white;
color: #19180A;
# border-color: #53131E !important;
}

/* Horizontal Dropdown Menu Styling */
.fix-nav.horizontal-dropdown {
  display: flex;
  justify-content: center;
  list-style: none; /* Remove bullet points */
}

.fix-nav.horizontal-dropdown .nav-item {
  position: relative;

}

.fix-nav.horizontal-dropdown .dropdown-toggle {
  padding: 8px 15px;
  text-decoration: none; /* Remove underlines */
}





.fix-nav.horizontal-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: none;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  z-index: 1000;
  min-width: 100%;
  text-align: left;
  list-style: none; /* Remove bullet points from dropdown */
  padding: 0; /* Remove default padding from dropdown list */
}

.fix-nav.horizontal-dropdown .dropdown-item {
  padding: 8px 15px;
  color: #226F54;
  display: block;
  clear: both;
  white-space: nowrap;
  font-size: 13px; 
  text-decoration: none; /* Remove underlines from dropdown items */
  font-family: 'Figtree', sans-serif;
}

.fix-nav.horizontal-dropdown .nav-item:hover .dropdown-menu,
.fix-nav.horizontal-dropdown .nav-item .dropdown-menu:hover {
  display: block;
}

/* Remove line from first word next to logo */
.fix-nav.horizontal-dropdown .nav-item:first-child .nav-link {
  border-left: none; /* Remove left border */
}

.fix-navbar .brand-text { /* New style for the text */
  color: #53131E; 
  font-size: 24px; /* Increased font size (adjust as needed) */
  text-decoration: none; /* Remove underline */
  margin-left: 0px; /* Add some space between logo and text */
  font-family: 'Ador Hairline Bold', serif;
  font-weight: bold;

}











.home-section {
padding-bottom:20px;
padding-top:10px;

}

.home-content {
display: flex;
align-items: flex-start; /* Key change: Align items to the top */
max-width: 1200px;
margin: 0 auto;

}

.home-text {
flex: 1; /* Allow text to take up available space */
font-family: 'Figtree', sans-serif;
padding-right:90px;

}

.home-text h1 {
font-size: 40px; /* Adjust as needed */
margin-bottom: 10px;
color: #A30000;
font-weight: bold;
font-family: 'Figtree' , sans-serif;
}
.home-text2 {
flex: 1; /* Allow text to take up available space */
font-family: 'Figtree', sans-serif;
padding-right:150px;

}

.home-text2 h1 {
font-size: 25px; /* Adjust as needed */
margin-bottom: 20px;
color: #53131E;
font-weight: bold;
font-family: 'Figtree' , sans-serif;
}

.home-text2 p {
margin-bottom: 10px;
font-family: 'Figtree' , sans-serif;
font-size: 1.2rem; /* Adjust as needed */
color:#19180A;
}
.sub-text {
margin-bottom: 10px;
font-family: 'Figtree', sans-serif;
}


.home-text p {
font-size: 1.2rem; /* Adjust as needed */
line-height: 1.6; /* Improve readability */
margin-bottom: 40px;
color:#19180A;
font-family: 'Figtree', sans-serif;
}

.home-buttons {
display: flex;
gap: 10px;
}

.home-image {
flex: 1; /* Allow image to take up available space */
padding-bottom:30px;
width:10px ;
height: 50px;
padding-left:90px;
}

.home-image img {
width: 450px  ; /* Image will be 80% of its container s width */
height: 450px;
padding-bottom:10px;
margin-bottom: 10px;
border-radius: 0 !important;
}

.contact-button {
color: #051C38 !important; /* Dark blue color */
}





.feature-access-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  /* width:100%; */
  background-color: #FFFFF2;
   /* padding-left: 70px; 
  padding-right:70px;  */
}

.text-content {
  flex: 1;
  max-width: 50%;
  padding-right: 10px;
   font-family: 'Figtree' , sans-serif;
  
}

.text-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
   font-family: 'Figtree' , sans-serif;
}

.text-content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px;
   font-family: 'Figtree' , sans-serif;
}

.quote-box {
  border: 1px solid #19180A;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  width:560px;
  font-size:15px;
  height:80px;
}
.image-content {
  flex: 1;
  max-width: 60%;
  /* border-radius: 10px; */
  overflow: hidden;
  height:400px; 
   padding-left: 220px; 
}

.image-content img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
   border-radius: 10px;
} 


.expect-section {
  font-family: sans-serif; /* Adjust font as needed */
  background-color: #f8f8f2; /* Light background */
  padding: 40px;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.expect-section h2 {
  font-size: 2.5em; /* Adjust as needed */
  margin-bottom: 30px;
  color: #333;
}

.expect-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.checkmark {
  font-size: 1.5em; /* Adjust as needed */
  color: black; /* Green color */
  margin-right: 2px;
  line-height: 1;
}

.expect-item h3 {

  font-size: 1.2em; /* Adjust as needed */
  color: #A30000;
  padding-bottom:20px;
}

.expect-item p {
  color: black;
  line-height: 1.6;
  font-size: 1.2em; /* Adjust as needed */
  padding-bottom:35px;
}

.expect-item > div {
  flex: 1;
}

.image-container {
  position: relative; /* Needed for absolute positioning of the text */
  display: inline-block; /* Or block, depending on your layout */
  width: 40%; /* Ensures image fills the container */
  height: 600px; /* Maintains aspect ratio */
  border-radius: 20px;

}

.image-container img {
  display: block; /* Prevents a small gap below the image */
  width: 100%; /* Ensures image fills the container */
  height: 700px; /* Maintains aspect ratio */
  border-radius: 20px;
}

.text-overlay {
  position: absolute; /* Positions the text over the image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Arranges words vertically */
  justify-content: center; /* Vertically centers the words */
  align-items: start; /* Horizontally centers the words */
  pointer-events: none; /* Allows clicks to pass through to the image */
}

.word1 {
  font-family: 'Figtree', sans-serif;
  font-size: 2em; /* Adjust font size as needed */
  color: #226F54; /* Text color */
  text-align: start; /* Centers text within each word container */
  margin: 0.1em 0; /* Adjust spacing between words */
  padding-top:370px;
  padding-left:40px;
  font-weight:bold;
}

.word2 {
  font-family: 'Figtree', sans-serif;
  font-size: 2em; /* Adjust font size as needed */
  color: #A30000; /* Text color */
  text-align: start; /* Centers text within each word container */
  margin: 0.1em 0; /* Adjust spacing between words */
  padding-left:40px;
  font-weight:bold;
}

.word3 {
  font-family: 'Figtree', sans-serif;
  font-size: 2em; /* Adjust font size as needed */
  color: #19180A; /* Text color */
  text-align: start; /* Centers text within each word container */
  margin: 0.1em 0; /* Adjust spacing between words */
  padding-left:40px;
  font-weight:bold;
}


.tier-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  font-family:'Figtree',  sans-serif;
  padding-left:50px;
  padding-right:50px;
}

.tier-image-container {
  position: relative; /* Needed for absolute positioning */
  width: 450px; /* Match the original card width */
  height: 350px; /* Adjust as needed */
  border-radius: 20px;
  overflow: hidden; /* Clip content outside the container */
}

.tier-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the container */
  border-radius: 20px;
}

.tier-button {
  position: absolute; /* Position button inside the image */
  top: 250px;
  left: 10%;
 color:#53131E;
  border: 1px solid #19180A;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  
  
}

.tier-text {
  
  position: absolute; /* Position button inside the image */
  top: 300px;
  left: 10%;
 

  color: #19180A;
  line-height: 1.6;
  text-align: start;
  
}




</style>




<nav class="navbar navbar-expand-lg navbar-light" data-turbo-permanent>
<div class="container-fluid">
  <%= link_to root_path, class: "fix-navbar" do %>

    <img style="width:150px;" src="<%= asset_path 'logo2.png' %>" alt="BRICStech Logo">
    <span class="brand-text" style="font-size:40px;" >BRICStech</span>
<% end %>


  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav mx-auto horizontal-dropdown">
      <%= render partial: 'shared/nav_links' %>
    </ul>
  </div>



  <div class="d-flex">
    <a href="#" class="btn btn-dark-blue btn-rounded me-2">Book a Demo</a>
   
    <a href="<%= login_path %>" class="btn btn-dark-blue2 btn-rounded me-2">Log In</a>
  </div>
</div>
</nav>


<div class="home-section">
<div class="home-content">
<div class="home-text">
<div class="sub-text">

<h2 style="font-size:45px; color:#A30000; padding-bottom:10px;">We’re on a Mission to Revolutionize How Developers Grow</h2>
  
</div>
</div>
</div>
</div>

<div class="home-section">
<div class="home-content">
<div class="home-text">
<div class="sub-text">

<div class="feature-access-container">
  <div class="text-content">
    <p style="font-size:20px;"> Our competitive royalty model lets you earn more for doing what you love,
     developing cutting-edge technologies & solutions!</p>
    
   
    <a href="#" class="btn btn-filled-dark-red btn-rounded  " style="border:1px solid #A30000; !important; margin-top:10px;">Learn More</a>
  </div>
  <div class="image-content" >
   
       <%= image_tag "place.png", alt: "Shift Manager" %>
  </div>
  
</div></div>
</div>
</div>
</div>


<div class="home-section">
<div class="home-content">
<div class="home-text2">
<div class="sub-text">

<h2 style="font-size:30px; color:#53131E; padding-bottom:10px;   ">Understanding Our Royalty Tiers Model</h2>

<p> At BRICStech, we believe in rewarding innovation, collaboration, and  <br>expertise, our Royalty Tiers are designed
 to ensure that partners are fairly<br> compensated based on 3 leveled tiers, project impact, and client success rate.
</p>
<h2 style="font-size:30px; color:#53131E; padding-bottom:10px; padding-top:20px;  " > How It Works</h2>
</div>


</div>
</div>
</div>
</div>



<div class="home-section">
<div class="home-content">
<div class="home-text">
<div class="sub-text">

<div class="feature-access-container">
  <div class="text-content">

   
 <div class="expect-item">
    <span class="checkmark">✓</span>
    <h3 style="font-weight:bold;">Earn Royalties on Every Product Launched
</h3> 
   
  </div>
   <div class="expect-item">
    <p > Get rewarded with a share of net revenue, calculated<br> after 
    essential costs such as software licenses, platform <br>environments, infrastructure, 
    and development support.</p>
     </div>

  <div class="expect-item">
    <span class="checkmark">✓</span>
    <h3 style="font-weight:bold;">Grow Through Project Success</h3>
    
  </div>

   <div class="expect-item">
    <p>The more projects you complete and the higher your 
    client satisfaction, the higher your royalty tier. Unlocking greater earning potential, 
    exclusive tools, and priority project access.</p>
     </div>
     
  <div class="expect-item">
    <span class="checkmark">✓</span>
    <h3 style="font-weight:bold;"> Track & Manage Earnings in Real Time</h3>
  </div>

    <div class="expect-item">
    <p >Stay in control with our Royalty Dashboard, providing
     real-time tracking of your revenue, tier progression, and earnings distribution.</p>
     </div>
     
  </div>
  
   
       <div class="image-container">
<%= image_tag "place.png", alt: "Grey Box Image" %>

  <div class="text-overlay">
    <div class="word1">Earn.</div>
    <div class="word2">Grow..</div>
    <div class="word3">Innovate..</div>
  </div>

</div>

  
</div>
</div>
</div>
</div>
</div>

<div class="home-section">
<div class="home-content">
<div class="home-text2">
<div class="sub-text">

<h2 style="font-size:30px; color:#53131E; padding-bottom:10px;   ">Interested in Our Partnership for Innovators & Teams?</h2>

<p> 
Join an exclusive network of innovators and organizations. <br>
 Collaborate, access cutting-edge resources, and grow with us.
</p>

</div>


</div>
</div>
</div>
</div>



<div class="tier-section">
  <div class="tier-image-container">
  <%= image_tag "place.png", alt: "Grey Box Image" %>
    <button class="tier-button">Growth</button>
    <p class="tier-text">Start & Build</p>
  </div>
  <div class="tier-image-container">
   <%= image_tag "place.png", alt: "Grey Box Image" %>
    <button class="tier-button">Premium</button>
    <p class="tier-text">Advance & Scale</p>
  </div>
  <div class="tier-image-container">
   <%= image_tag "place.png", alt: "Grey Box Image" %>
    <button class="tier-button">Elite</button>
    <p class="tier-text">Lead & Innovate</p>
  </div>
</div>



<div class="signup-section" style="padding-right:70px ;padding-top:100px; padding-bottom:150px;">
<div class="signup-content">
<div class="logo-container" >
  <%= image_tag "logo2.png", alt: "BRICStech Logo" %>
  <div class="text-container">
  <h3>BRICStech</h3>
</div>
</div>

<div class="text-container">
  <h2 style="font-weight:bold;">Built by you,<br> Powered by BRICStech</h2>
</div>
<div class="button-container">
<a href="#" class="btn btn-outline-dark-red btn-rounded"style="background-color:#A30000 !important; color:white !important ;  border-color: #A30000 !important;">Sign Up</a>
</div>
<div class="login-link-wrapper"> 
<div class="login-link">
  <p style="font-size:18px;">Already have an account? <a href="<%= partnerlogin_path %>">Log In.</a></p>
  </div>
</div>
</div>